@-moz-document domain("wikipedia.org") {
/* Wikipedia Dark Theme v1.0.36 (2018-04-17)
 * https://github.com/StylishThemes/Wikipedia-Dark
 * http://userstyles.org/styles/
 * Modified from https://userstyles.org/styles/47161/dark-wikipedia-rounded
 */

  /* transparent background */
  div, span:not(.legend-color):not([class*="wikEd"]):not([style*="background"]),
  .MainPageBG, .navbox-list,  div#mw-head, .mw-wsmfinal-content, #bodyContent,
  .referencetooltip > li + li, div.vectorTabs ul li, tr[style*="background:#F5FFFA"],
  th[style*="background-color: #fff"], .mw-echo-notifications-badge,
  .ext-cards-card-list .ext-cards-card, .infobox span.plainlinks *,
  .tracklist, blockquote[style*="background-color: white"] {
    background-color: transparent !important;
  }

  .lang-list-button {
    outline-color: transparent !important;
  }

  /*** Overall ***/
  td, p, li, th:not([style*="background"]), caption, div,
  span:not([class*="color"]):not([class*="wikEd"]):not([style*="background"]),
  p code, label code, dl code, .oo-ui-widget div, .oo-ui-widget label {
    color: #9a9a9a;
  }

  body, h1, h2, h3, h4, h5, h6, #footer li, .infobox th[style*="background"],
  div[style*="color"], input[type="search"], input[type="submit"],
  input[type="number"], select, .suggestions-result, input {
    color: #9a9a9a !important;
  }

  a, .CategoryTreeToggle, #toc a, #toc a span, body .ui-button {
    color: /*[[base-color]]*/ #4183C4 !important;
  }

  a:visited, #toc a:visited, #toc a:visited span {
    color: /*[[visited-color]]*/ #295887 !important;
  }

  a:hover, a:hover span, #toc a:hover, #toc a:hover span,
  .suggestions-result .highlight, .suggestions-special .special-query {
    color: #fff !important;
  }

  /* text selection */
  ::selection {
    background-color: /*[[base-color]]*/ #4183C4 !important;
    color: #fff !important;
  }
  ::-moz-selection {
    background-color: /*[[base-color]]*/ #4183C4 !important;
    color: #fff !important;
  }

  /*** Red links (non-existant pages) ***/
  a.new {
    color: #980000 !important;
  }

  /*** Background ***/
  html, body {
    background-color: #222 !important;
    background-image: /*[[bg-choice]]*/ url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: /*[[bg-attachment]]*/ fixed !important;
    /*[[bg-options]]*/
  }

  .mw-ui-button, .mw-ui-button * {
    background-color: /*[[base-color]]*/ #4183C4 !important;
    color: #fff !important;
  }

  #mw-page-base, div.vectorTabs, div.vectorTabs *, .wikiEditor-ui-toolbar, #p-cactions-label,
  .client-js #preftoc, .client-js #preftoc li, .client-js #preftoc li.selected a,
  .ui-widget-content, .ext-cards-card-list h3:after, #simpleSearch, .mw-mmv-ttf-ellipsis:before {
    background-image: none !important;
  }

  /* fading linear gradient */
  .mwe-popups-extract:after {
    background-image: linear-gradient(to right, rgb(34, 34, 34, 0), rgb(34, 34, 34, 1) 50% ) !important;
  }

  .ui-widget-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  #bodyContent pre, #bodyContent code, span.plainlinks * {
    background-color: #111 !important;
    border-color: #555 !important;
    color: #b9b9b9 !important;
  }

  td[style*="background:#FFFFFF"], .jfk-bubble, .navpopup,
  .popup_drop:hover .popup_menu, .popup_drop .popup_menu:hover {
    background-color: #181818 !important;
  }

  table, input, button, select, textarea:not([class*="mw-editfont"]),
  tr[style*="background: antiquewhite;"], #toc, td[style*="background-color"], td[style*="background:#F5FAFF"],
  #mw-content-text div[style*="background: #"], .vevent td, .referencetooltip li, .suggestions,
  .mw-ui-button[style*="background"], .mw-ui-button[style*="background"] *, .wikiEditor-ui,
  table.navbox.collapsible tr:nth-child(2) > td, div.menu, .oo-ui-popupWidget-popup,
  .oo-ui-buttonElement-button, .mw-notification, .mwe-popups, .mwe-popups-is-not-tall, .mwe-popups-is-tall,
  .ui-widget-content, .oo-ui-window-body, #pagehistory li.selected, .tracklist tr,
  .mw-searchresults-has-iw .iw-resultset, .cx-callout-content, .oo-ui-widget,
  tr[style*="background:#f2f2f2"], th[style*="background:#EDF1F1"], td[style*="background:#EDF1F1"],
  tr[style*="background-color:white"], tr[style*="background:#f9f9f9"], td[bgcolor="#FFFFFF"],
  tr[style*="background:#ddd"]  {
    background-color: #222 !important;
  }

  body .ui-button {
    background: #282828 !important;
    border-color: #555 !important;
  }

  table[style*="background-color:#fff;"], .search-form fieldset, table.ambox, tr[style*="background-color: #fff;"],
  .mw-ui-button[style*="background-color:#008B6D"], tr[style*="background-color: #f5faff;"],
  tr[style*="background:#E9E9E9"] > *, table.infobox.hproduct > tbody > tr[style*="background: #F0F0F0;"],
  td[style*="background:lightyellow"], td[style*="background:#eeeeff"], td[style*="background:#ddddff"],
  .oo-ui-buttonElement-button:hover, .tracklist tr[style*="background-color:#f7f7f7"],
  td[style*="background:#F9F9F9"], th[style*="background:gainsboro"], td[style*="background:gainsboro"] {
    background-color: #282828 !important;
  }

  table.wikitable > tr > th, table.wikitable > * > tr > th, div.barbox > table > tbody > tr > th,
  .cx-campaign-contributionsmenu li:hover {
    background-color: #333; /* don't include !important flag */
  }

  td[style*="background: #ececec;"], th[style*="background:#eee"], th[style*="background-color: #eee"],
  tr[style*="background-color: #f7f7f7;"], th[style*="background:#F2F2F2"], #filetoc, .toccolours,
  th[style*="background:#F9F9F9"], table.plainlinks, th[style*="background-color: lightgrey"],
  th[style*="background:#ddd"], .infobox th[style*="background"], .infobox td[style*="background"],
  td[style*="background:#F2F2F2"], table.wikitable > tbody > tr[style*="background-color:#F6F6F6"],
  .tlheader, th[style*="background:whitesmoke"], td[style*="background:whitesmoke"] {
    background-color: #333 !important;
  }

  /* remove background image/gradient */
  .keyboard-key, div#editpage-specialchars a, body div.ui-dialog .ui-widget-header {
    background: #333 !important;
    border-color: #555 !important;
  }

  body .ui-button:hover {
    background: #444 !important;
    border-color: #555 !important;
  }
  /* add a white background to transparent images; see
   * https://forum.userstyles.org/discussion/48549/x */
  a.image img, a[href*=".svg"] img {
    background: #ddd !important;
  }
  /* white background to wikEd - see #24 */
  .wikEdFrameBodySyntax {
    background: #fff !important;
  }

  .keyboard-key {
    box-shadow: 0.1em 0.2em 0.2em #444 !important;
  }
  .mw-mmv-ttf-ellipsis, .navpopup, .oo-ui-popupWidget-popup,
  .oo-ui-buttonElement-button, input + span,
  .pure-form input[type=search] {
    box-shadow: none !important;
  }

  hr {
    background-color: transparent !important;
    border-color: #555 !important;
  }

  /*** Background Color Styles ***/
  /* Red */
  td[style*="background: #FDD;"], .table-no, td[style*="background:#fdd"],
  td[style*="background: #ffdddd"], tr[style*="background:#FFDDDD"],
  tr[style*="background:#fbb"] {
    background: #722 !important;
    color: #ddd !important;
  }

  /* Green */
  #mp-left h2, #mp-left h2 span, td[style*="background: #99FF99;"], .table-yes,
  td[style*="background:#dfd"], td[style*="background:#bfd"], tr[style*="background:#DDFFDD"],
  tr[style*="background:#bfb"], tr[style*="background-color:#CCFFCC"] {
    background: #244024 !important;
    color: #ddd !important;
  }

  /* Blue */
  div[style*="background"] h2, div[style*="background"] h2 *, #mp-right h2, #mp-right h2 span, .navbox th,
  .navbox-title, .navbox-title *, tr[style*="background-color:tan;"],
  div[style*="background: #444444;"], div[style*="background: #444444;"] *,
  ol.references li:target, sup.reference:target, span.citation:target,
  ol.references li:target *, sup.reference:target *, span.citation:target *,
  td[style*="background:#CEDFF2"], tr[bgcolor="#CEDFF2"], table[style*="background-color:#cef2e0"] *,
  div[style*="background-color: #cee0f2"], div[style*="background-color: #cedff2"],
  div[role="region"] h2, div[role="region"] .plainlinks, tr[style*="background-color: #cedff2"] {
    background-color: #182030 !important;
  }

  .navbox-abovebelow, th.navbox-group, .navbox-subgroup .navbox-title,
  .navbox-abovebelow *, th.navbox-group *, .navbox-subgroup .navbox-title * {
    background-color: #212C43 !important;
  }

  /* Purple */
  #mp-bottom h2, #mp-bottom h2 span, th[style*="background:lavender"], td[style*="background:lavender"] {
    background-color: #382B4A !important;
  }

  /* Brown */
  #mp-center h2, #mp-center h2 span, .table-partial, tr[style*="background:orange"],
  td[style*="background:#ffd"] {
    background-color: #321 !important;
  }

  /*** Border ***/
  fieldset {
    border-color: /*[[base-color]]*/ #4183C4 !important;
  }

  div:not([style*="-color"]), div[style*="background-color"], span:not([class*="color"]),
  table, tr:not([style*="border-bottom"]), th, td:not([style*="border-bottom"]),
  h1, h2, h3, h4, h5, h6, ul, li, input, select, #bodyContent code, .lang-list-button:hover {
    border-color: #555 !important;
  }

  td[style*="border-bottom"] {
    border-right-color: #555 !important;
    border-left-color: #555 !important;
    border-top-color: #555 !important;
  }

  .mwe-popups:before {
    border-bottom-color: #555 !important;
  }
  .mwe-popups.flipped_y:before, .mwe-popups.flipped_x_y:before,
  .wikiEditor-toolbar-dialog .ui-dialog-buttonpane {
    border-top-color: #555 !important;
  }
  .mwe-popups:after {
    border-bottom-color: #222 !important;
  }
  .mwe-popups.flipped_y:after, .mwe-popups.flipped_x_y:after {
    border-top-color: #222 !important;
  }

  div.vectorTabs li:not(.selected), .oo-ui-popupWidget-anchor:after,
  .oo-ui-popupWidget-head {
    border-bottom: #555 1px solid !important;
  }

  /* arrow down */
  .referencetooltip > li + li, .referencetooltip > li + li::after {
    border-top-color: #555 !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }
  /* Bookmark Icon */
  #ca-watch.icon a {
    background-image: url('data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F><svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"16"%20height%3D"16"><path%20d%3D"M8.103%201.146l2.175%204.408%204.864.707-3.52%203.431.831%204.845-4.351-2.287-4.351%202.287.831-4.845-3.52-3.431%204.864-.707z"%20fill%3D"transparent"%20stroke%3D"%237cb5d1"%20stroke-width%3D"1"%2F><%2Fsvg>') !important;
  }
  #ca-unwatch.icon a {
    background-image: url('data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F><svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20width%3D"16"%20height%3D"16"><defs><linearGradient%20id%3D"a"><stop%20offset%3D"0"%20stop-color%3D"%23c2edff"%2F><stop%20offset%3D".5"%20stop-color%3D"%2368bdff"%2F><stop%20offset%3D"1"%20stop-color%3D"%23fff"%2F><%2FlinearGradient><linearGradient%20x1%3D"13.47"%20y1%3D"14.363"%20x2%3D"4.596"%20y2%3D"3.397"%20id%3D"b"%20xlink%3Ahref%3D"%23a"%20gradientUnits%3D"userSpaceOnUse"%2F><%2Fdefs><path%20d%3D"M8.103%201.146l2.175%204.408%204.864.707-3.52%203.431.831%204.845-4.351-2.287-4.351%202.287.831-4.845-3.52-3.431%204.864-.707z"%20fill%3D"url%28%23b%29"%20stroke%3D"%237cb5d1"%20stroke-width%3D"1"%2F><%2Fsvg>') !important;
  }

  /* Orange */
  #centralNotice > div {
    border-color: #e08b26 !important;
  }

  table.ambox-content, table.ambox-style {
    border-left-color: #e08b26 !important;
  }

  /* add border */
  div.vectorTabs li, #p-cactions-label, .client-js #preftoc li {
    border-right: #555 1px solid !important;
  }
  div.vectorTabs li.selected, .client-js #preftoc li.selected {
    border-bottom: #e08b26 1px solid !important;
  }

  /*** Text ***/
  .wikitable tr:not([style*="color:black"]) th:not([style*="color: black"]),
  table.wikitable > tbody > tr[style*="background-color:#F6F6F6"] > td > * {
    color: #fff !important;
  }

  .CategoryTreeEmptyBullet {
    color: #ccc !important;
  }

  /*** Misc ***/
  #p-cactions li.selected a, #p-cactions li a, #p-cactions li a:hover {
    padding: 0 1em 0.1em !important;
  }

  ul, .portlet li {
    list-style-image: none !important;
  }

  table[style*="border:4px ridge"], .jfk-bubble-closebtn {
    border: none !important;
  }

  /*** diff pages ***/
  .diff-context {
    background-color: #222 !important;
  }
  .wikEdDiffButtonUnchecked {
    border-color: #444 !important;
  }
  td.diff-deletedline .diffchange, .wikEdDiffDelete {
    background-color: rgba(213, 154, 0, .6) !important;
    color: #ddd !important;
  }
  td.diff-deletedline {
    border-color: rgba(213, 154, 0, .6) !important;
  }
  .wikEdDiffFragment:hover .wikEdDiffDelete {
    background-color: rgba(213, 154, 0, .65) !important;
  }
  td.diff-addedline {
    border-color: rgba(0, 112, 213, .6) !important;
  }
  td.diff-addedline .diffchange, .wikEdDiffInsert {
    background-color: rgba(0, 112, 213, .6) !important;
    color: #ddd !important;
  }

  /*** invert images ***/
  img[title="Wikipedia"], .bookshelf-container .bookend, img.mwe-math-fallback-image-inline,
  #mw-wsmfinal-close, img[src*="Speaker_Icon"], .infobox img[alt*="structure"][src*=".svg"], img[src*=".png"]:active,
  img[src*=".svg"][height="16"], img[src*=".svg"][height="17"], img[src*=".svg"][height="18"],
  .oo-ui-iconElement-icon:not(.mw-echo-notifications-badge), .RTsettings, #gtx-host, .jfk-bubble-closebtn,
  #pt-notifications-notice .mw-echo-notifications-badge:before, .oo-ui-pendingElement-pending,
  #pt-notifications-alert .mw-echo-notifications-badge:before, img.mwe-math-fallback-image-display {
    -webkit-filter: invert(100%) !important;
            filter: invert(100%) !important;
    background-color: transparent !important;
  }
  .central-textlogo__image, .unicode.haudio a img {
    filter: invert(60.5%) !important;
  }
  .central-featured-logo {
    filter: brightness(60.5%) !important;
  }
  #p-logo a {
    background-position: center -155px !important;
    display: table-cell !important;
    vertical-align: middle !important;
  }
  #p-logo a::before, #p-logo a::after {
    display: block !important;
    background: inherit !important;
    content: "" !important;
  }
  #p-logo a::before {
    background-position: center 0 !important;
    filter: brightness(60.5%) !important;
    height: 108px !important;
  }
  #p-logo a::after {
    background-position: center -108px !important;
    filter: invert(60.5%) !important;
    height: 47px !important;
  }
  .oo-ui-icon-bell, .mw-widget-calendarWidget-day-additional {
    opacity: 0.7 !important;
  }

  /* grunt build - remove to end of file */
}
